global
    log stdout format raw local0
    maxconn 2048

defaults
    log global
    mode tcp
    timeout connect 5s
    timeout client  30s
    timeout server  30s

frontend db_write
    bind *:5432
    default_backend patroni_master

backend patroni_master
    mode tcp
    option httpchk OPTIONS /master
    http-check expect status 200
    default-server inter 2s fall 2 rise 1 on-marked-down shutdown-sessions
    server pg1 10.128.0.103:5432 check port 8008
    server pg2 10.128.0.104:5432 check port 8008
    server pg3 10.128.0.105:5432 check port 8008

frontend db_read
    bind *:5433
    default_backend patroni_replicas

backend patroni_replicas
    mode tcp
    balance roundrobin
    option httpchk OPTIONS /replica
    http-check expect status 200
    default-server inter 2s fall 2 rise 1
    server pg1 10.128.0.103:5432 check port 8008
    server pg2 10.128.0.104:5432 check port 8008
    server pg3 10.128.0.105:5432 check port 8008

listen stats
    bind *:8404
    mode http
    stats enable
    stats uri /
